<ion-view title="Actividades" id="ActividadAlum">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">

        <div class="imagen" >
            <input class="imagenActividad" type=image src="/img/memoria21.jpg"  ui-sref="app.memoramaAlumno">
            <input class="imagenActividad" type=image src="/img/participacion61.jpg" ui-sref="app.participacionAlum">
        </div>
        <div class="imagen">
            <div class="tituloActividad" >Memorama</div>
            <div class="tituloActividad" >Participación</div>
        </div>
        <div class="imagen">
            <input class="imagenActividad" type=image src="/img/comentario31.jpg" ui-sref="app.ComentariosAlum" >
            <input class="imagenActividad" type=image src="/img/equipo21.jpg" ui-sref="app.equipoAlum">
        </div>
        <div class="imagen">
            <div class="tituloActividad" >Comentarios</div>
            <div class="tituloActividad" >Equipos</div>
        </div>
        <div class="imagen">
            <input class="imagenActividad" type=image src="/img/codigo11.jpg" ui-sref="app.codigoAlum" >
            <input class="imagenActividad" type=image src="/img/test21.jpg" ui-sref="app.testAlum" >
        </div>
        <div class="imagen">
            <div class="tituloActividad" >Código</div>
            <div class="tituloActividad" >Test</div>
        </div>



    </ion-content>
</ion-view>
