<ion-view title="Añadir materia" id="ComentariosAlum">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <br><br>
        <!--Te3xt area para ingresar el comentario-->
        <label class="item item-input">
            <textarea placeholder="ingresar el código de la materia" id="txt_codigo"></textarea>
        </label><br><br>
        <div class="button-bar">
            <!--boton para dar de alta la materia -->
            <button class="boton-abajo-drecha button button-positive button-block" id="btn_agregar">Agregar </button>
            <!--boton para dar de baja materia -->
            <button class="boton-abajo-drecha button button-positive button-block" id="btn_eliminar">Eliminar </button>
        </div>
    </ion-content>
</ion-view>