<ion-view title="Finalizar">
  <ion-content padding="true" class="has-header">
    <!--Lista del nuevo horario-->
      <div class="list">
          <div class="item item-divider item-balanced">
              Información del grupo
          </div>
          <a class="item" href="#">
              Clave: G83746
          </a>
          <a class="item" href="#">
              Grupo: 15692
          </a>
          <a class="item " href="#">
              Materia: POO
          </a>
          <a class="item" href="#">
              Hora de inicio: 9:00
          </a>
          <a class="item" href="#">
              Hora fin: 10:00
          </a>
      </div>
      <!-- Botón para finalizar la carga de los datos-->
<button class="button button-positive button-block">
    Finalizar
</button>
</ion-content>
</ion-view>
