<ion-view title="Nuevo grupo" id="ajusteNuevoHorario">
  <ion-content padding="true" class="has-header">
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Grupo
        </div>
        <select>
          <option>15701</option>
          <option selected>1508</option>
          <option>15702</option>
          <option>15698</option>
        </select>
      </label>

    </div>
    <!--Crear check box (Nombres de todas las materias )-->

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Materia
        </div>
        <select>
          <option>LOGICA</option>
          <option selected>FUNDAMENTOS FISICOS Y TECNOLOGICOS DE LA INFORMATICA</option>
          <option>MATEMATICA DISCRETA</option>
          <option>ALGEBRA LINEAL</option>
        </select>
      </label>
    </div>
    <!--botón siguiente lleva a ajusteHorarioHorarioFinal-->
    <button class="button button-positive button-block" id ="btn_siguiente" ui-sref="app.ajusteHorarioHora">
      siguiente
    </button>

  </ion-content>
</ion-view>
