<ion-view title="Nuevo grupo" id="ajusteNuevoHorario">
  <ion-content padding="true" class="has-header">

    <label class="item item-input">
      <span class="input-label">Grupos</span>
      <input required type="text" placeholder="Ej. MiGrupo1" ng-model="data.grupos">
    </label>
    <!-- lista con todos los ciclos escolares-->
    <div class="list" ng-controller="prueba1">
      <label class="item item-input item-select">
        <div class="input-label">
          Ciclo escolar
        </div>
        <select id="cmb_cicloEscolar">
          <option>2016-2</option>
          <option selected>2017-1</option>
          <option>2017-2</option>
        </select>
      </label>
    </div>
    <!--Crear check box (Nombres de todas las materias )-->

    <div class="list">
      <form ng-controller="consultaMateriaCtrl">
        <label class="item item-input item-select">
          <div class="input-label">
            Materias
          </div>
          <select id="cmb_materia">
            <option ng-repeat="item in response1 track by item.nombreM">{{item.nombreM}}</option>
          </select>
        </label>
      </form>

    </div>
    <!--botón siguiente lleva a ajusteHorarioHorarioFinal-->
    <button class="button button-positive button-block" id ="btn_siguiente" ng-click="registra()" ui-sref="app.ajusteHorarioHora">
      siguiente
    </button>

  </ion-content>
</ion-view>
