<ion-view title="Horario de clase" >
    <ion-content padding="true" class="has-header">

        <!--Crear check box (Nombres de todas las materias )-->
        <ion-list>
          <ion-checkbox>Lunes</ion-checkbox>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora Inicio clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora fin clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <ion-checkbox >Martes</ion-checkbox>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora Inicio clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora fin clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <ion-checkbox >Miércoles</ion-checkbox>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora Inicio clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora fin clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <ion-checkbox >Jueves</ion-checkbox>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora Inicio clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora fin clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <ion-checkbox >Viernes</ion-checkbox>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora Inicio clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Hora fin clase
            </div>
            <select>
              <option selected>8:00</option>
              <option >9:00</option>
              <option>10:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
            </select>
          </label>
        </ion-list>

        <button class="button button-positive button-block" id ="btn_siguiente" ui-sref="app.ajusteHorarioHoraFinal">siguiente</button>

    </ion-content>
</ion-view>
