<ion-view title="Puntuación" id="ajusteCalificacion">
    <ion-content padding="true" class="has-header">
        <!-- Crear una lista para agregar tod el contenido dentro de ella-->
        <div class="list">
          <form ng-controller="consultaGruposCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Clave del grupo
              </div>
              <select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">
                <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
              </select>
            </label>
          </form>
        </div>

        <!--  Lista de los puntajes  -->
        <div class="list">
            <div class="item item-divider item-balanced">
                Puntuación actual
            </div>
            <a class="item">
                Exámen: 0.1pts
            </a>
            <a class="item">
                Practicas: 0.01 pts
            </a>
            <a class="item">
                Tareas: 1 pts
            </a>
            <a class="item">
                Participación: 0.05 pts
            </a>
        </div>
        <!--check box de los rubros-->
        <div class="list">
          <div class="item item-divider item-balanced">
            Nueva puntuación
          </div>
            <label class="item item-input item-select">
              <div class="input-label">
                Rubros
              </div>
              <select id="cmb_actividad">
                <option>Participación</option>
                <option selected>Exámen</option>
                <option>Tareas</option>
                <option>Prácticas</option>
              </select>
            </label>
          <!--check box de las actividades a las que se le asigna calificacion-->
          <label class="item item-input item-select">
            <div class="input-label">
              Actividad
            </div>
            <select id="cmb_rubros">
              <option>memorama</option>
              <option selected>Participacion</option>
              <option>Código</option>
              <option>Test</option>
              <option>Comentarios</option>
            </select>
          </label>
          <a class="item" >
            <!--  nueva puntuación -->
            <input type="text" ng-model="data.txt_nuevaPuntuacion" placeholder="Nueva puntuación" ng-model="data.txt_nuevaPuntuacion">
          </a>
        </div>
        <!-- Texto para introducir nueva puntuación -->

        <button class="button button-positive button-block"  ng-click="prueba()" >Modificar </button>

    </ion-content>
</ion-view>
