<ion-view title="Ajuste de Horario" id="ajusteHorario">
    <ion-content padding="true" class="has-header">
        <!--Check box con la lista de los grupos-->
        <div class="list">
          <form ng-controller="consultaGruposCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Clave del grupo
              </div>
              <select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">
                <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
              </select>
            </label>
          </form>
        </div>
        <div class="list">
          <div class="item item-divider item-balanced">
            Información del grupo
          </div>
          <a class="item item-text-wrap" >
            Clave: G83746 <br>
            Grupo: 15692<br>
            Materia: POO<br>
            Hora de inicio: 9:00<br>
            Hora fin: 10:00<br>
          </a>
          <a class="item item-text-wrap">
            Clave: G83746<br>
            Grupo: 15692<br>
            Materia: POO<br>
            Hora de inicio: 9:00<br>
            Hora fin: 10:00<br>
          </a>
            <div class="item item-divider item-balanced">
                Datos a modificar
            </div>
          <form ng-controller="consultaHoraCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Hora Inicio clase
              </div>
              <select id="cmb_horaInicio" ng-model="itemSeleccionado"><!--ng-change="lista()"-->
                <option ng-repeat="item in Lista" >{{item.hora}}</option>
              </select>
            </label>
          </form>
          <form ng-controller="consultaHoraCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Hora fin clase
              </div>
              <select id="cmb_horaTermino" ng-model="itemSeleccionado"><!--ng-change="lista()"-->
                <option ng-repeat="item in Lista" >{{item.hora}}</option>
              </select>
            </label>
          </form>
          <label class="item item-input item-select">
            <div class="input-label">
              Materia
            </div>
            <form ng-controller="consultaMateriaCtrl">
              <select id="cmb_materia">
                <option ng-repeat="item in response1 track by item.nombreM">{{item.nombreM}}</option>
              </select>
            </form>
          </label>
        </div>

        <!--botón para modificar los datos de la clase-->
        <button class="button button-positive button-block" id ="btn_modificar" ng-click="prueba()">Modificar</button>

    </ion-content>
</ion-view>

