<ion-view title="ajuste Alumno">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list">
      <!-- boton para añadir materia-->
      <button class="button button-positive button-block" ui-sref="app.agregarMateriaAlum">
        Ingresar en nueva clase
      </button>
      <button class="button button-positive button-block" ui-sref="app.ajusteModificarContrasenaAlum">
        Modificar contraseña
      </button>
    </ul>
  </ion-content>
</ion-view>
