<ion-view title="Códigos de grupos" id="codigosGrupos">

  <!--<ion-nav-bar class="bar-balanced">-->
    <!--<ion-nav-back-button> </ion-nav-back-button>-->
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

    <div class="list">
      <div class="item item-divider item-balanced">
        Grupo: 15667
      </div>
      <a class="item item-text-wrap" href="#">
        Materia: Programación Orientada a Objetos
      </a>
      <a class="item" href="#">
        Clave: G12345
      </a>
    </div>
  </ion-content>
</ion-view>
