<ion-view title="FORO" id="comentarioProf">
    <ion-content padding="true" class="has-header">
        <!--Select para los grupos-->
        <div class="list">
          <!--Crear check box (Grupos )-->
          <form ng-controller="consultaGruposCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Grupo
              </div>
              <!--<select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">-->
              <select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">
                <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
              </select>
            </label>
          </form>
        </div>

        <!--Area de texto para ingresar el tema a comentar por el profesor-->
        <label class="item item-input">
            <textarea placeholder="ingresar el tema a comentar..." ng-model="data.tema"></textarea>
        </label><br><br>
        <!--Hora de el termino de lops comentarios-->
        <div class="list">
          <form ng-controller="consultaHoraCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Hora limite para comentar
              </div>
              <select id="cmb_horaTermino" ng-model="itemSeleccionado"><!--ng-change="lista()"-->
                <option ng-repeat="item in Lista" >{{item.hora}}</option>
              </select>
            </label>
          </form>
        </div>
      <!--fECHA DE TERMINO DE LOS COMENTARIOS-->
      <label class="item item-input">
        <span class="input-label">Fecha de termino</span>
        <input type="text" placeholder="AAAA/MM/DD" ng-model="data.fecha" >
      </label>
        <!--btn_participa btn_noParticipa-->
            <button class="button button-positive  button-block" ng-click="iniciarActividad()">Iniciar actividad</button>
    </ion-content>
</ion-view>
