<ion-view title="Foros ">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list">
      <!--Crear check box (Grupos )-->
      <form ng-controller="consultaGruposCtrl">
        <label class="item item-input item-select">
          <div class="input-label">
            Grupo
          </div>
          <!-- Al seleccionar algun grupo se ejecuta el metodo lista -->
          <select id="cmb_grupo1" ng-change="lista()" ng-model="itemSeleccionado">
            <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
          </select>
        </label>
      </form>
    </div>
    <!-- inicia card para ver los comentarios-->
    <div class="list" ng-repeat="item in listaForo" >
      <div class="item item-divider item-balanced">
      </div>
      <div class="item item-text-wrap">
        requerimiento: {{item.requerimiento}}
      </div>
      <div class="item">
        Fecha de inicio: {{item.fechaInicio}}
      </div>
      <div class="item">
        Fecha de termino: {{item.fechaTermino}}
      </div>
    </div>
  </ion-content>
</ion-view>
