<ion-view title="EQUIPOS" id="equipoProf">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <!--Select para los grupos-->
        <div class="list">
          <!--Crear check box (Grupos )-->
          <form ng-controller="consultaGruposCtrl">
            <label class="item item-input item-select">
              <div class="input-label">
                Grupo
              </div>
              <!--<select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">-->
              <select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">
                <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
              </select>
            </label>
          </form>
        </div>

        <!--Select para el número de equipos a formar-->
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Número de equipos
                </div>
                <select>
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </label>
        </div>
        <!--btn_crear es para crear los equipos-->
        <button class="button button-positive button-block" id="btn_crear">
            Crear Equipos
        </button>
        <!--btn_enviar para enviar la lista de los equipos a los alumnos-->
        <button class="button button-positive button-block"id="btn_enviar">
            Enviar lista
        </button>

        <!--btn_enviar para enviar la lista de los equipos a los alumnos-->
        <div class="list">
            <div class="item item-divider item-balanced">
                Equipo 1:
            </div>
            <a class="item" href="#">
                Ana Laura Bautista Sandoval
            </a>
            <a class="item" href="#">
                Morelos Coronado Rogelio
            </a>
            <div class="item item-divider item-balanced">
                Equipo 2:
            </div>
            <a class="item " href="#">
                Orozco Navarro Fabián
            </a>
            <a class="item" href="#">
                Rodriguez Ramirez Omar
            </a>
            <div class="item item-divider item-balanced">
                Equipo 3:
            </div>
            <a class="item" href="#">
                Bautista Sandoval Ana Laura
            </a>
            <a class="item" href="#">
                Sanchez Rodriguez Uriel
            </a>
        </div>


    </ion-content>
</ion-view>
