<ion-view title="Inicio Alumno" id="inicioA">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="buscarClase()">
        </ion-refresher>
        <form ng-controller="buscarSiguienteClaseAlumnoCtrl">
        <div class="list" ng-repeat="item in response1">
          <div class="item item-divider item-balanced item-text-wrap" >Próxima clase </div>
          <a class="item item-text-wrap">
            Hora de inicio de la clase : {{item.horaInicioClase}}
          </a>
          <a class="item item-text-wrap">
            Tiempo de tolerancia: {{item.tolerancia}}
          </a>
          <a class="item item-text-wrap">
            Tiempo limite para pase de lista: {{item.restante}}
          </a>
          <a class="item item-text-wrap">
            materia: {{item.nombreM}}
          </a>
        </div>
      </form>
      <!-- Botón para pase de lista de la clase-->
      <button class="button button-positive button-block" ng-click="paseLista()">Pase de lista</button>
    </ion-content>
</ion-view>
