<ion-view title="Inicioa" id="inicioA">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

        <div class="card">
            <div class="item item-text-wrap">
                <div class="subtitulo">Próxima clase </div>
                <div class="texto"> Hora de clase:  </div>
                <div class="texto"> Materia: Programación Orientada a objetos</div>
                <div class="texto">Grupo: 15101</div>
                <div class="texto">Promedio de asistencia: 80%</div>
                <div class="subtitulo">La clase comienza en</div>
                <div class="subtitulo" id="txt_tiempofalta">2 hrs 00 min</div>
                <!-- Botón para escanear código qr de la clase -->
                <button class="button button-positive button-block" id ="btn_inicioClase" ng-click="prueba()">Pase de lista</button>
            </div>
        </div>
    </ion-content>

</ion-view>
