
<ion-view title="Inicio">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="subtitulo">Próxima clase </div>
        <div class="texto"> Hora de clase:  </div>
        <div class="texto"> Materia: Programación Orientada a objetos</div>
        <div class="texto">Grupo: 15101</div>
        <div class="texto">Promedio de asistencia: 80%</div>
        <div class="subtitulo">La clase comienza en</div>
        <div class="subtitulo" id="txt_tiempofalta">2 hrs 00 min</div>
        <button class="button button-positive button-block" id ="btn_inicioClase">Comenzar clase</button>
      </div>
  </ion-content>
</ion-view>
