<ion-view title="Lista de alumnos" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list">
      <!--Crear check box (Grupos )-->
      <form ng-controller="consultaGruposCtrl">
        <label class="item item-input item-select">
          <div class="input-label">
            Grupo
          </div>
          <!--<select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">-->
          <select id="cmb_grupo" ng-change="lista()" ng-model="itemSeleccionado">
            <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
          </select>
        </label>
      </form>
    </div>
    <div class="list" ng-repeat="item in listaA">
      <a  detail-push class="item">
        Alumno: {{item.alumno}}
      </a>
      <!--<a class="item item-divider item-balanced item-text-wrap item-button-right" >{{item.ListaA}}</a>-->
    </div>

  </ion-content>
</ion-view>
