<header class="bar bar-header bar-stable">
  <h1 class="title"> Menu Alumno</h1>
</header>
<ion-content class="has-header">
  <ion-list>
    <ion-item ui-sref="app.inicioA" menu-close="">Inicio</ion-item>
    <ion-item ui-sref="app.listaMateriasAlum" menu-close="">Lista de materias</ion-item>
    <ion-item ui-sref="app.ComentariosAlum" menu-close="">Ver comentarios</ion-item>
    <ion-item ui-sref="app.horarioAlum" menu-close="">Horario</ion-item>
    <ion-item ui-sref="app.actividadAlum" menu-close="">Actividades</ion-item>
    <ion-item ui-sref="app.ajusteAlum" menu-close="">Ajustes</ion-item>
  </ion-list>
</ion-content>
