<header class="bar bar-header bar-stable">
  <h1 class="title">Menu Profesor</h1>
</header>
<ion-content class="has-header">
  <ion-list>
    <ion-item nav-clear menu-close ui-sref="app.inicio">inicio</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.ListaAlumno">Lista de alumnos</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.cDigosDeGrupos">Ver códigos de grupos</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.comentarioProfVer">ver comentarios</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.horario">Horario</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.nuevaActividad">Nueva actividad</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.ajustes">ajustes</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.acercaDeNosotros">Acerca de nosotros</ion-item>
  </ion-list>
</ion-content>
