<ion-view title="PARTICIPACIÓN" id="participacionProf">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
      <!--Select para los grupos-->
      <div class="list">
        <form ng-controller="consultaGruposCtrl">
          <label class="item item-input item-select">
            <div class="input-label">
              Grupo
            </div>
            <!--Crear check box (Grupos )-->
            <select id="cmb_grupo" ng-change="listaAsistencia()" ng-model="itemSeleccionado">
              <option ng-repeat="item in optionGrupo track by item.claveGrupo" >{{item.claveGrupo}}   </option>
            </select>
          </label>
        </form>
      </div>
        <!--boton para buscar-->
        <button class="button button-positive button-block" ng-click="buscar()">Buscar aleatoriamente</button>
        <!--Nombre del alumno que participará-->

        <h3 align="center" ng-repeat=" item in nombreAlumno" > {{item.nombreAlumno}} </h3>
        <!--btn_participa btn_Participa-->
        <div class="button-bar">
          <button class="button button-positive button-block" ng-click="participar()">Participó</button>
        </div>

        <div class="list" ng-repeat="item in listaAsis">
          <div class="item item-divider item-balanced">
                Alumnos que asistieron
          </div>
          <a class="item">
            {{item.alumno}}
          </a>
        </div>

    </ion-content>
</ion-view>
