<ion-view title="Participaciones" id="participacionAlum">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
      <button class="button button-positive  button-block" >Pedir participación</button>
    </ion-content>
</ion-view>
