<ion-view title="PARTICIPACIÓN" id="participacionProf">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <!--Select para los grupos-->
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Grupo
                </div>
                <select>
                    <option>15701</option>
                    <option selected>15789</option>
                    <option>15893</option>
                    <option>14589</option>
                </select>
            </label>
        </div>
        <!--btn_buscar-->
        <button class="button button-positive button-block" id="btn_buscar">Buscar aleatoriamente</button>
        <!--Nombre del alumno que participará-->
        <h3 align="center"> Barrera Ocampo Iván </h3>

        <!--btn_participa btn_noParticipa-->

        <div class="button-bar">
            <button class="button button-positive button-block" id="btn_participo">Participó</button>
        </div>

        <div class="list">
            <div class="item item-divider item-balanced">
                Alumnos que asistieron
            </div>
            <a class="item" href="#">
                Ana Laura Bautista Sandoval
            </a>
            <a class="item" href="#">
                Morelos Coronado Rogelio
            </a>
            <a class="item " href="#">
                Orozco Navarro Fabián
            </a>
            <a class="item" href="#">
                Rodriguez Ramirez Omar
            </a>
            <a class="item" href="#">
                Bautista Sandoval Ana Laura
            </a>
            <a class="item" href="#">
                Sanchez Rodriguez Uriel
            </a>
        </div>

    </ion-content>
</ion-view>
