<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Registro</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nombre</span>
        <input required type="text" ng-model="data.nombre">
      </label>
      <label class="item item-input">
        <span class="input-label">Apellido Paterno</span>
        <input required type="text" ng-model="data.apellidoP" >
      </label>
      <label class="item item-input">
        <span class="input-label">Apellido Materno</span>
        <input required type="text" ng-model="data.apellidoM">
      </label>
      <label class="item item-input">
        <span class="input-label">Correo electrónico</span>
        <input required type="email" ng-model="data.correo">
      </label>
      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input required type="password" ng-model="data.contrasena">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit" ng-click="registrar()">Registrarse</button>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit" ui-sref="app.playlists">Login</button>
      </label>

    </div>
  </ion-content>
</ion-modal-view>
